:root {
  --font-family: Arial, Helvetica;
  --first-color: hsl(37, 89%, 67%);
  --second-color: hsl(31, 57%, 93%);
  --third-color: hsl(8, 71%, 86%);
  --fourth-color: hsl(165, 15%, 58%);
  --fith-color: hsl(75, 73%, 74%);
  --fackback-hue: 60;

  --button-text: #3E331F;
  --button-size-text: 3em;
  --text--sixe: 4em;

  --button_radius: 0.75em;
  --button-color: #75938b;

  --hue-first-color: 37;
  --hue-second-color: 31;
  --hue-third-color: 8;
  --hue-fourth-color: 165;
  --hue-fifth-color: 75;
  --hue-zes-color: 30;


}




@property --random {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@keyframes random {
  from {
    --random: 0;
  }

  to {
    --random: 360;
  }
}


body {
  margin: 0;
  animation: random 2s linear infinite;
  background: hsl(var(--hue, var(--hue-fifth-color)),
      73%,
      74%);

  padding: 0;
  font-family: 'W95FA', 'Microsoft Sans Serif',
}

body:has(header input:checked) {
  animation-play-state: paused;
  --hue: var(--random);
  transition: 0.2s all ease-out;

}



Header {
  background: red;
  width: 90%;
  rotate: 20deg;
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top:40px;
  left:75%;
  transform:translateX(-50%);
  z-index:10;


  --s: 200px; /* adjust to control the size */

  width: var(--s); 
  aspect-ratio: 1;
  --g:/calc(var(--s)*0.214) calc(var(--s)*0.214) radial-gradient(50% 50%,#000 99%,#0000 101%) no-repeat;
  mask: calc(50% + var(--s)*0.349) calc(50% + var(--s)*0.093) var(--g),calc(50% + var(--s)*0.181) calc(50% + var(--s)*0.312) var(--g),calc(50% + var(--s)*-0.093) calc(50% + var(--s)*0.349) var(--g),calc(50% + var(--s)*-0.312) calc(50% + var(--s)*0.181) var(--g),calc(50% + var(--s)*-0.349) calc(50% + var(--s)*-0.093) var(--g),calc(50% + var(--s)*-0.181) calc(50% + var(--s)*-0.312) var(--g),calc(50% + var(--s)*0.093) calc(50% + var(--s)*-0.349) var(--g),calc(50% + var(--s)*0.312) calc(50% + var(--s)*-0.181) var(--g),radial-gradient(calc(var(--s)*0.421),#000 99%,#0000 101%) subtract,calc(50% + var(--s)*0.395) calc(50% + var(--s)*0.302) var(--g),calc(50% + var(--s)*0.066) calc(50% + var(--s)*0.493) var(--g),calc(50% + var(--s)*-0.302) calc(50% + var(--s)*0.395) var(--g),calc(50% + var(--s)*-0.493) calc(50% + var(--s)*0.066) var(--g),calc(50% + var(--s)*-0.395) calc(50% + var(--s)*-0.302) var(--g),calc(50% + var(--s)*-0.066) calc(50% + var(--s)*-0.493) var(--g),calc(50% + var(--s)*0.302) calc(50% + var(--s)*-0.395) var(--g),calc(50% + var(--s)*0.493) calc(50% + var(--s)*-0.066) var(--g);

}





header label{
  font-family: "Comic Sans MS", "Arial Rounded MT Bold", Arial;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:10px;
  font-weight:bold;
  
}




input{
  appearance: none;
  width: 60px;
  height: 60px;
  background: #d62828;
  border-radius: 50%;
  border: 6px solid #7a0d0d;
  cursor: pointer;

  box-shadow:
    inset 0 -6px 0 #7a0d0d,
    0 4px 0 #3d0707;

  transition: transform 0.1s;
}

input:active{
  transform: translateY(3px);
 
}

main {
  min-height: 50em;
  display: grid;
  place-items: center;
}

/* de body van de tama */

main>section:first-of-type {
  width: 100%;
  max-width: 50em;
  padding: 20px;
  border-radius: 30px;
  background: hsl(calc(var(--hue, var(--hue-first-color)) + 20), 89%, 67%);

}



main>section {
  width: 60%;
  box-shadow:
    inset 2px -6px  10px #464629,
    0 4px 0 #3d0707;
}



main>section>section:nth-of-type(1) {
  background: var(--fourth-color);

  padding: 5em;
  margin: 2em;

  border-radius: 18px;
  display: grid;
  place-items: center;
}


main>section>section:nth-of-type(2) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 10px;
}


/*                                   */
/* Buttons styling en animatie */
/*                                        */



main section:nth-of-type(2) input {
  width: 60px;
  height: 60px;
  appearance: none;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 6px solid black;
  background: #444;
  position: relative;
  cursor: pointer;
}

 main input[type="checkbox"]:checked{
  background: #28c840;
  border-color: #0a5f1a;
}

main:has(input:nth-last-child(1):checked) section div::before {
  display: block;  

  animation-name: --wink;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(5);

}






label{
  display:flex;
  align-items:center;
  gap:20px;
}





/* Pixel art beeldscherm */

section div {
  --p: 20px;
  width: calc(12 * var(--p));
  height: calc(12 * var(--p));
  margin: 0;
  position: relative;

}



section div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--p);
  height: var(--p);
  box-shadow:
    calc(4 * var(--p)) calc(3 * var(--p)) black,
    calc(4 * var(--p)) calc(2 * var(--p)) black,
    calc(8 * var(--p)) calc(3 * var(--p)) black,
    calc(8 * var(--p)) calc(2 * var(--p)) black,
    calc(3 * var(--p)) calc(8 * var(--p)) black,
    calc(4 * var(--p)) calc(9 * var(--p)) black,
    calc(5 * var(--p)) calc(10 * var(--p)) black,
    calc(6 * var(--p)) calc(10 * var(--p)) black,
    calc(7 * var(--p)) calc(10 * var(--p)) black,
    calc(8 * var(--p)) calc(9 * var(--p)) black,
    calc(9 * var(--p)) calc(8 * var(--p)) black;

   
  
  display: none;
  
}

section div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--p);
  height: var(--p);
  display: none;
}





@keyframes --wink {
 
  100% {
    box-shadow:
    calc(4 * var(--p)) calc(3 * var(--p)) black,
    calc(4 * var(--p)) calc(2 * var(--p)) black,
    calc(8 * var(--p)) calc(3 * var(--p)) black,
    calc(8 * var(--p)) calc(2 * var(--p)) black,
      calc(3 * var(--p)) calc(8 * var(--p)) black,
      calc(4 * var(--p)) calc(9 * var(--p)) black,
      calc(5 * var(--p)) calc(10 * var(--p)) black,
      calc(6 * var(--p)) calc(10 * var(--p)) black,
      calc(7 * var(--p)) calc(10 * var(--p)) black,
      calc(8 * var(--p)) calc(9 * var(--p)) black,
      calc(9 * var(--p)) calc(8 * var(--p)) black;

  }
}

@keyframes --sad {
  100% {
    box-shadow:
    calc(4 * var(--p)) calc(3 * var(--p)) black,
    calc(4 * var(--p)) calc(2 * var(--p)) black,
    calc(8 * var(--p)) calc(3 * var(--p)) black,
    calc(8 * var(--p)) calc(2 * var(--p)) black,
      calc(3 * var(--p)) calc(12 * var(--p)) black,
      calc(4 * var(--p)) calc(11 * var(--p)) black,
      calc(5 * var(--p)) calc(10 * var(--p)) black,
      calc(6 * var(--p)) calc(10 * var(--p)) black,
      calc(7 * var(--p)) calc(10 * var(--p)) black,
      calc(8 * var(--p)) calc(11 * var(--p)) black,
      calc(9 * var(--p)) calc(12* var(--p)) black;
  }
      
  }




  @keyframes --mad {
  
    100% {
      box-shadow:

      calc(5 * var(--p)) calc(1 * var(--p)) black,
      calc(4 * var(--p)) calc(0 * var(--p)) black,
      calc(3 * var(--p)) calc(-1 * var(--p)) black,
  
      calc(7 * var(--p)) calc(1 * var(--p)) black,
      calc(8 * var(--p)) calc(0 * var(--p)) black,
      calc(9 * var(--p)) calc(-1 * var(--p)) black,
  
          calc(4 * var(--p)) calc(3 * var(--p)) black,
          calc(8 * var(--p)) calc(3 * var(--p)) black,
  
  
          calc(3 * var(--p)) calc(12 * var(--p)) black,
          calc(4 * var(--p)) calc(11 * var(--p)) black,
          calc(5 * var(--p)) calc(10 * var(--p)) black,
          calc(6 * var(--p)) calc(10 * var(--p)) black,
          calc(7 * var(--p)) calc(10 * var(--p)) black,
          calc(8 * var(--p)) calc(11 * var(--p)) black,
          calc(9 * var(--p)) calc(12 * var(--p)) black;
    }
        
    }

    @keyframes --shake {
      0%   { transform: translateX(0); }
      10%  { transform: translateX(-5px); }
      20%  { transform: translateX(5px); }
      30%  { transform: translateX(-5px); }
      40%  { transform: translateX(5px); }
      50%  { transform: translateX(-5px); }
      60%  { transform: translateX(5px); }
      70%  { transform: translateX(-5px); }
      80%  { transform: translateX(5px); }
      90%  { transform: translateX(-5px); }
      100% { transform: translateX(0); }
    }

    @keyframes --party {
        0% {
          box-shadow:
          
            calc(3 * var(--p)) calc(0 * var(--p)) black,
            calc(4 * var(--p)) calc(0 * var(--p)) black,
            calc(5 * var(--p)) calc(0 * var(--p)) black,
            calc(6 * var(--p)) calc(0 * var(--p)) black,
            calc(7 * var(--p)) calc(0 * var(--p)) black,
            calc(8 * var(--p)) calc(0 * var(--p)) black,
            calc(2 * var(--p)) calc(1 * var(--p)) black,
            calc(3 * var(--p)) calc(1 * var(--p)) black,
            calc(4 * var(--p)) calc(1 * var(--p)) black,
            calc(5 * var(--p)) calc(1 * var(--p)) black,
            calc(6 * var(--p)) calc(1 * var(--p)) black,
            calc(7 * var(--p)) calc(1 * var(--p)) black,
            calc(8 * var(--p)) calc(1 * var(--p)) black,
            calc(9 * var(--p)) calc(1 * var(--p)) black,
      
            calc(4 * var(--p)) calc(3 * var(--p)) black,
            calc(4 * var(--p)) calc(4 * var(--p)) black,
            calc(8 * var(--p)) calc(3 * var(--p)) black,
            calc(8 * var(--p)) calc(4 * var(--p)) black,
      
            calc(3 * var(--p)) calc(8 * var(--p)) black,
            calc(4 * var(--p)) calc(9 * var(--p)) black,
            calc(5 * var(--p)) calc(10 * var(--p)) black,
            calc(6 * var(--p)) calc(10 * var(--p)) black,
            calc(7 * var(--p)) calc(10 * var(--p)) black,
            calc(8 * var(--p)) calc(9 * var(--p)) black,
            calc(9 * var(--p)) calc(8 * var(--p)) black;
        }
      
        50% {
          box-shadow:
          
            calc(4 * var(--p)) calc(-1 * var(--p)) black,
            calc(5 * var(--p)) calc(-1 * var(--p)) black,
            calc(6 * var(--p)) calc(-1 * var(--p)) black,
            calc(7 * var(--p)) calc(-1 * var(--p)) black,
            calc(8 * var(--p)) calc(-1 * var(--p)) black,
            calc(9 * var(--p)) calc(-1 * var(--p)) black,
            calc(3 * var(--p)) calc(0 * var(--p)) black,
            calc(4 * var(--p)) calc(0 * var(--p)) black,
            calc(5 * var(--p)) calc(0 * var(--p)) black,
            calc(6 * var(--p)) calc(0 * var(--p)) black,
            calc(7 * var(--p)) calc(0 * var(--p)) black,
            calc(8 * var(--p)) calc(0 * var(--p)) black,
            calc(9 * var(--p)) calc(0 * var(--p)) black,
            calc(10 * var(--p)) calc(0 * var(--p)) black,
      
         
            calc(4 * var(--p)) calc(4 * var(--p)) black,
            calc(5 * var(--p)) calc(4 * var(--p)) black,
            calc(8 * var(--p)) calc(4 * var(--p)) black,
            calc(9 * var(--p)) calc(4 * var(--p)) black,
      
       
            calc(4 * var(--p)) calc(9 * var(--p)) black,
            calc(5 * var(--p)) calc(10 * var(--p)) black,
            calc(6 * var(--p)) calc(10 * var(--p)) black,
            calc(7 * var(--p)) calc(10 * var(--p)) black,
            calc(8 * var(--p)) calc(9 * var(--p)) black;
        }
      
        100% {
          box-shadow:
            calc(3 * var(--p)) calc(0 * var(--p)) black,
            calc(4 * var(--p)) calc(0 * var(--p)) black,
            calc(5 * var(--p)) calc(0 * var(--p)) black,
            calc(6 * var(--p)) calc(0 * var(--p)) black,
            calc(7 * var(--p)) calc(0 * var(--p)) black,
            calc(8 * var(--p)) calc(0 * var(--p)) black,
            calc(2 * var(--p)) calc(1 * var(--p)) black,
            calc(3 * var(--p)) calc(1 * var(--p)) black,
            calc(4 * var(--p)) calc(1 * var(--p)) black,
            calc(5 * var(--p)) calc(1 * var(--p)) black,
            calc(6 * var(--p)) calc(1 * var(--p)) black,
            calc(7 * var(--p)) calc(1 * var(--p)) black,
            calc(8 * var(--p)) calc(1 * var(--p)) black,
            calc(9 * var(--p)) calc(1 * var(--p)) black,
      
        
            calc(4 * var(--p)) calc(3 * var(--p)) black,
            calc(4 * var(--p)) calc(4 * var(--p)) black,
            calc(8 * var(--p)) calc(3 * var(--p)) black,
            calc(8 * var(--p)) calc(4 * var(--p)) black,
      
        
            calc(3 * var(--p)) calc(8 * var(--p)) black,
            calc(4 * var(--p)) calc(9 * var(--p)) black,
            calc(5 * var(--p)) calc(10 * var(--p)) black,
            calc(6 * var(--p)) calc(10 * var(--p)) black,
            calc(7 * var(--p)) calc(10 * var(--p)) black,
            calc(8 * var(--p)) calc(9 * var(--p)) black,
            calc(9 * var(--p)) calc(8 * var(--p)) black;
        }
      }


      @keyframes --confettiFall {
        0% {
          box-shadow:
            calc(1 * var(--p)) calc(0 * var(--p)) red,
            calc(4 * var(--p)) calc(1 * var(--p)) yellow,
            calc(7 * var(--p)) calc(0 * var(--p)) blue,
            calc(10 * var(--p)) calc(1 * var(--p)) lime,
            calc(3 * var(--p)) calc(2 * var(--p)) hotpink,
            calc(8 * var(--p)) calc(2 * var(--p)) orange;
        }
      
      
        100% {
          box-shadow:
            calc(1 * var(--p)) calc(8 * var(--p)) red,
            calc(4 * var(--p)) calc(9 * var(--p)) yellow,
            calc(7 * var(--p)) calc(8 * var(--p)) blue,
            calc(10 * var(--p)) calc(9 * var(--p)) lime,
            calc(3 * var(--p)) calc(10 * var(--p)) hotpink,
            calc(8 * var(--p)) calc(10 * var(--p)) orange;
        }
      }
/* radio buttons  */

main:not(:has(input[type="checkbox"]:checked)) section div::before,
main:not(:has(input[type="checkbox"]:checked)) section div::after {
  display: none;
}


section input[type="radio"]{
  appearance: none;
  width: 60px;
  height: 60px;
  background: hsl(calc(var(--hue, var(--hue-fourth-color)) + 20), 89%, 67%);
  border: 4px solid black;
  border-radius: 50%;
  cursor: pointer;
}


section input[type="radio"]:hover{
  appearance: none;
  scale:1.1;
  background: hsl(calc(var(--hue, var(--hue-fourth-color)) + 90), 89%, 67%);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.1s all ease-in;
}

section input:nth-child(1)[type="radio"]:checked ~ section div::before{
  animation-name: --sad;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(5);
}

main > section:first-of-type:has(input:nth-child(2):checked) {
  animation: --shake 0.3s linear 5;
}


section input:nth-child(2)[type="radio"]:checked ~ section div::before{

  animation-name: --mad;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(1);
}

section input:nth-child(3)[type="radio"]:checked ~ section div::before{
  animation-name: --wink;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(3);
}

main > section:first-of-type > input:nth-child(4):checked 
~ section:first-of-type div::before {

  animation-name: --party;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
}

body:has(header input:checked)
main > section:first-of-type > input[type="radio"]:nth-child(4):checked
~ section:first-of-type div::after {
  display: block;
  animation-name: --confettiFall ;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(6);
}



@media (max-width: 700px) {

  header {
    position: static;
    justify-content: center;
    border: none;
    background: none;
    rotate: none;
  }

  header input{
    display: flex;
    justify-items: center;
  }

  main{
    min-height: 100vh;
    padding: 1em;
    align-content:start;
  }

  main > section{
    width:100%;
  }

  main > section:first-of-type{
    max-width:100%;
    padding:16px;
    border-radius:24px;
    border-width:2em;
  }

  main > section > section:nth-of-type(1){
    padding:2em;
    margin:1em;
  }

  /* radio buttons rij */
  main > section > section:nth-of-type(2){
    grid-template-columns:repeat(4,1fr);
    gap:12px;
  }

  section input[type="radio"]{
    width:48px;
    height:48px;
  }

  main section:nth-of-type(2) input{
    width:48px;
    height:48px;
  }

  /* pixel grootte kleiner */
  section div{
    --p:12px;
  }

}